<div class="platform-intro">
    <p>
        GNU/Linux is a Free operating system built on the same principles that QGIS is built on. 
        We provide installers for many flavors of GNU/Linux binary packages (including rpm and deb packages).
    </p>
</div>

<div class="download-card">
    <div class="download-card-header">
        <h3 class="download-card-title">
            Select Your Linux Distribution
        </h3>
    </div>
    <p class="download-card-description">
        Choose your preferred Linux distribution below for installation instructions:
    </p>
    <div class="distro-list">
        <a href="{{ absURL "resources/installation-guide#debian--ubuntu" }}" class="distro-link">
            Debian/Ubuntu
        </a>
        <a href="{{ absURL "resources/installation-guide#fedora" }}" class="distro-link">
            Fedora
        </a>
        <a href="{{ absURL "resources/installation-guide#nixos" }}" class="distro-link">
            NixOS
        </a>
        <a href="{{ absURL "resources/installation-guide#suse--opensuse" }}" class="distro-link">
            openSUSE
        </a>
        <a href="{{ absURL "resources/installation-guide#mandriva" }}" class="distro-link">
            Mandriva
        </a>
        <a href="{{ absURL "resources/installation-guide#slackware" }}" class="distro-link">
            Slackware
        </a>
        <a href="{{ absURL "resources/installation-guide#arch-linux" }}" class="distro-link">
            Arch Linux
        </a>
        <a href="{{ absURL "resources/installation-guide#flatpak" }}" class="distro-link">
            Flatpak
        </a>
        <a href="{{ absURL "resources/installation-guide#spack" }}" class="distro-link">
            Spack
        </a>
    </div>
    <div class="download-buttons" style="margin-top: 1.5rem;">
        <a class="download-button secondary" 
           href="{{ absURL "resources/installation-guide#linux" }}">
            View Full Linux Installation Guide
        </a>
    </div>
</div>
