{{ with index .Site.Data.conf }}
<div class="content">
    <p class="is-size-6">
        This installer is the best way to keep QGIS up to date, run multiple versions on your system, 
        and keep the load on our download servers to a minimum. 
        <a href="{{ absURL "resources/installation-guide#online-osgeo4w-installer" }}">Learn more about the OSGeo4W installer</a>.
    </p>

    <p class="is-size-6">
        Standalone installers are also available for offline installation.
        <a href="{{ absURL "resources/installation-guide#offline-standalone-installers" }}">Learn more about standalone installers</a>.
    </p>

    <div class="notification is-info is-light mt-4">
        <strong>Note:</strong> Since QGIS 3.20 we only ship 64-bit Windows executables.
    </div>
</div>
{{ end }}
