{{ with index .Site.Data.conf }}
<div class="download-platform-selector" id="download-section" style="display: none;">
    <div class="container">
        <div class="content has-text-centered mb-5">
            <p class="is-size-5">
                Long Term Release (LTR) builds are intended for those who value stability over having the latest features. 
                If you are unsure which version is best for you, download the LTR.
            </p>
            {{ if eq .infeaturefreeze true }}
            <div class="notification is-info is-light">
                We are currently in feature freeze preceding the release of QGIS {{ .nextversion }}.
                <strong>Please consider testing the prereleases</strong>. See
                <a href="{{ absURL "resources/roadmap#qgis-prereleases" }}">road map</a>.
            </div>
            {{ end }}
        </div>

        <div class="platform-contents">
{{ end }}
